<div class="reporting-nav">
  <ul class="reporting-topics">
    <li class="report-topic-item">
<!--       <a>
        <i class="topic-icon fa fa-comments-o"></i>
        <span translate="i18n.reporting.nav.community"></span>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a> -->
      <ul class="report-topic-sub-list">
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.community.overview"
             ui-sref-active-eq="is-active"
             translate="i18n.reporting.nav.overview"></a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.community.adsCommunity"
             ui-sref-active="is-active"
             translate="i18n.reporting.nav.adsCommunity"></a>
        </li>
      </ul>
    </li>
  </ul>
</div>
