<div class="reporting-nav">
  <ul class="reporting-topics">
    <li class="report-topic-item">
<!--       <a>
        <i class="topic-icon fa fa-heart" aria-hidden="true"></i>
        <span translate="i18n.reporting.nav.referral"></span>
        <i class="fa fa-angle-right"></i>
      </a> -->
      <ul class="report-topic-sub-list">
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.referral.overview"
             ui-sref-active-eq="is-active"
             translate="i18n.reporting.nav.overview"></a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.referral.adWebsiteClicks"
             ui-sref-active="is-active"
             translate="i18n.reporting.nav.adWebClicks"></a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.referral.webSessions"
             ui-sref-active="is-active"
             translate="i18n.reporting.nav.gaWebSessions"></a>
        </li>
      </ul>
    </li>
  </ul>
</div>
