<div class="reporting-nav">
  <h2>Measure</h2>

<!--   <div class="active-brand-selector-ctn">
    <sd-active-brand-selector></sd-active-brand-selector>
  </div> -->

  <ul class="reporting-topics">
    <li class="report-topic-item">
      <a>
        <i class="topic-icon fa fa-money"></i>
        <span translate="i18n.reporting.nav.conversions"></span>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
      <ul class="report-topic-sub-list">
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.conversion"
             ui-sref-active-eq="is-active"
             translate="i18n.reporting.nav.overview"></a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.conversion.adsConversion"
             ui-sref-active="is-active"
             translate="i18n.reporting.nav.adsConversion"></a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.conversion.adsROI"
             ui-sref-active="is-active"
             translate="i18n.reporting.nav.adsROI"></a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.conversion.gaConversions"
             ui-sref-active="is-active"
             translate="i18n.reporting.nav.gaConversions"></a>
        </li>
      </ul>
    </li>

    <li class="report-topic-item">
      <a>
        <i class="topic-icon fa fa-bullhorn"></i>
        <span translate="i18n.reporting.nav.referrals"></span>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
      <ul class="report-topic-sub-list">
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.referral.overview"
             ui-sref-active-eq="is-active"
             translate="i18n.reporting.nav.overview"></a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.referral.adWebsiteClicks"
             ui-sref-active="is-active"
             translate="i18n.reporting.nav.adWebClicks"></a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.referral.webSessions"
             ui-sref-active="is-active"
             translate="i18n.reporting.nav.gaWebSessions"></a>
        </li>
      </ul>
    </li>

    <li class="report-topic-item">
      <a>
        <i class="topic-icon fa fa-heart" aria-hidden="true"></i>
        <span translate="i18n.reporting.nav.engagement"></span>
        <i class="fa fa-angle-right"></i>
      </a>
      <ul class="report-topic-sub-list">
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.engagement"
             ui-sref-active-eq="is-active"
             translate="i18n.reporting.nav.overview"></a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.engagement.adsEngagement"
             ui-sref-active="is-active"
             translate="i18n.reporting.nav.adsEngagement"></a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.engagement.organicEngagement"
             ui-sref-active="is-active"
             translate="i18n.reporting.nav.organicEngagement"></a>
        </li>
      </ul>
    </li>

    <li class="report-topic-item">
      <a>
        <i class="topic-icon fa fa-comments-o"></i>
        <span translate="i18n.reporting.nav.community"></span>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
      <ul class="report-topic-sub-list">
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.community"
             ui-sref-active-eq="is-active"
             translate="i18n.reporting.nav.overview"></a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.community.adsCommunity"
             ui-sref-active="is-active"
             translate="i18n.reporting.nav.adsCommunity"></a>
        </li>
      </ul>
    </li>

<!-- Keep for example purposes -->
<!--     <li class="report-topic-item">
      <a>
        <i class="topic-icon fa fa-random"></i>
        <span>Sample Reports</span>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
      <ul class="report-topic-sub-list">
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.root"
             ui-sref-active="is-active">Sample Overview</a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.sample"
             ui-sref-active="is-active">Sample Report</a>
        </li>
        <li class="report-topic-sub-item">
          <a class="item-link"
             ui-sref="reporting.bad"
             ui-sref-active="is-active">Invalid Topic</a>
        </li>
      </ul>
    </li> -->
  </ul>
</div>
