// ------------------------------------------------------ //
// ----- Global Imports --------------------------------- //
// ------------------------------------------------------ //
@import "../../../../common/skin/globalImports";

// ------------------------------------------------------ //

.social-network-access {
  .social-network-icons {
    display: flex;
    margin-top: 5rem;
    justify-content: flex-end;

    .icon {
      flex: 0 0 auto;
      font-size: 12rem;

      &.facebook {
        color: $facebook-color;
        margin-right: $spacing-normal;

        &:hover {
          color: darken($facebook-color, 5%);
          cursor: pointer;
        }
      }
      &.twitter {
        color: $twitter-color;

        &:hover {
          color: darken($twitter-color, 5%);
          cursor: pointer;
        }
      }
    }
  }
}
